@charset "UTF-8";

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  /* font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; */
}
